@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    *, *::before, *::after {
        box-sizing: border-box;
      }

    @font-face {
        font-family: 'Novela';
        font-weight: 400;
        src: url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-regular-webfont.eot);
        src: url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-regular-webfont.woff) format('woff'),
        url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-regular-webfont.woff2) format('woff2');
    }

    @font-face {
        font-family: 'Novela';
        font-weight: 300;
        src: url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-regularitalic-webfont.woff) format('woff'),
        url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-regularitalic-webfont.woff2) format('woff2');
    }

    @font-face {
        font-family: 'Novela';
        font-weight: 900;
        src: url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-black-webfont.woff) format('woff'),
        url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-black-webfont.woff2) format('woff2');
    }

    @font-face {
        font-family: 'Novela';
        font-weight: 800;
        src: url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-blackitalic-webfont.woff) format('woff'),
        url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-blackitalic-webfont.woff2) format('woff2');
    }

    @font-face {
        font-family: 'Novela';
        font-weight: 700;
        src: url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-bold-webfont.woff) format('woff'),
        url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-bold-webfont.woff2) format('woff2');
    }

    @font-face {
        font-family: 'Novela';
        font-weight: 700;
        src: url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-bolditalic-webfont.woff) format('woff'),
        url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-bolditalic-webfont.woff2) format('woff2');
    }

    @font-face {
        font-family: 'Novela';
        font-weight: 100;
        src: url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-displayitalic-webfont.woff) format('woff'),
        url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-displayitalic-webfont.woff2) format('woff2');
    }

    @font-face {
        font-family: 'Novela';
        font-weight: 200;
        src: url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-displayregular-webfont.woff) format('woff'),
        url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-displayregular-webfont.woff2) format('woff2');
    }


    @font-face {
        font-family: 'Novela';
        font-weight: 600;
        src: url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-semibold-webfont.woff) format('woff'),
        url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-semibold-webfont.woff2) format('woff2');
    }

    @font-face {
        font-family: 'Novela';
        font-weight: 500;
        src: url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-semibolditalic-webfont.woff) format('woff'),
        url(../public/fonts/Novela-Complete-Webfont/Novela-webfontkit/novela-semibolditalic-webfont.woff2) format('woff2');
    }
    
}

@layer components {

    .customContainer {
        @apply max-w-commonLayout text-center mt-0 mb-0 mr-auto ml-auto pt-0 pb-0 pr-5 pl-5
    }

    .inlineContainer {
        position: absolute;
        /* margin-left: 45px; */
        top: 230px;
        left: 135px;
        /* width: 100%;
        height: 100%; */
        text-align: center;
        overflow: hidden;
        z-index: 0;
    }

    .butterFlySizer {
        /* background-image: url('../public/icons/butterflySVG.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; */

        width: 1000px;
        height: 1000px;
        transform: rotate(30deg) translateX(-176px) translateY(-237px) scale(2.5);
        z-index: 0;
        opacity: 60%;
    }

    @keyframes ticker-kf {
        0% {
            transform: translate3d(0, 0, 0);
        }

        100% {
            transform: translate3d(-108rem, 0 , 0);
        }
    }
    .img-ticker {
        animation: ticker-kf 18s linear infinite;
    }

}

@layer utilities {

    .hideComponent {
        @apply opacity-0 blur-sm -translate-x-full transition-all
    }
    
    .hideComponentBottom {
        @apply opacity-0 blur-sm -translate-y-full transition-all
    }
    
    .showHiddenComponent {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
        transition: 0.6s;
        transition-delay: 600ms;
    }

    /* Dodaje ' min' dla drugiego elementu */
    .second-child-ofValue::after {
        content: ' min';
        font-size: 30px;
    }
  
    /* Dodaje '%' dla ostatniego elementu */
    .last-child-ofValue::after {
        content: '%';
    }

    .how {
        margin-left: auto; 
        margin-right: 7%;
    }
    .toWrite {
        margin-left: auto;
        margin-right: 17%;
    }
    .to {
        margin-left: auto;
        margin-right: auto;
    }
    .gather {
        margin-left: 17%;
        margin-right: auto;
    }
    .crowds {
        margin-left: 7%;
        margin-right: auto;
    }

    .sunflower {
        transform: scaleX(-1);
        top: 34.333333%;
        right: 69.666667%;
    }

    .sunFlowerMobile {
        transform: scaleX(-1);
        top: 2.333333%;
        right: 5.666667%;
        width: 136px;
    }

    .sunFlowerTablet {
        transform: scaleX(-1);
        top: -0.666667%;
        right: 9.666667%;
        width: 200px;
    }
    
}
